extends layout

block content
  .dashboard
    header
      h1 📁 Drive Clone
      nav
        span Welcome, #{username} 
        a(href='/logout') Log Out

    .upload-section
      h2 Upload a File
      form(action='/upload', method='POST', enctype='multipart/form-data')
        input(type='file', name='file', required)
        button(type='submit') Upload

    .files-section
      h2 Your Files
      p No files yet.