extends layout

block content
  .welcome-shell
    .welcome-card
      .welcome-logo
        span.logo-icon ⬡
        span.logo-text DriveClone
      p.welcome-sub Your personal file storage
      .welcome-links
        a.btn-primary(href='/login') Log In
        a.btn-secondary(href='/register') Register