html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Drive Clone
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&family=Space+Mono:wght@400;700&display=swap')
    link(rel='stylesheet', href='/style.css')
  body
    block content
    script(src='/upload-preview.js')
    script(src='/sidebar.js')
    script(src='/dragdrop.js')
    script(src='/search.js')
    script(src='/rename.js')